.mat-slide-toggle{
    margin-right: 10px !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: #28a745 !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #28a745 !important;
}